[user]
	name = Mark Hepburn
	email = Mark.Hepburn@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
    dlp = diff ORIG_HEAD..FETCH_HEAD
[color]
	ui = auto

# http://www.hodique.info/blog/2011/03/20/git_tip_url_rewriting
[url "git@github.com:markhepburn/"]
    pushInsteadOf = git://github.com/markhepburn/
