[user]
    name = Mark Hepburn
    email = Mark.Hepburn@gmail.com
[alias]
    st = status
    ci = commit
    co = checkout
    lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
    dlp = diff ORIG_HEAD..FETCH_HEAD
    llp = log ORIG_HEAD..FETCH_HEAD
[color]
    ui = auto

# http://www.hodique.info/blog/2011/03/20/git_tip_url_rewriting
[url "git@github.com:markhepburn/"]
    pushInsteadOf = https://github.com/markhepburn/

# http://stevenharman.net/git-pull-with-automatic-rebase
# [branch]
#     autosetuprebase = always
[pull]
    rebase = false              # default merge instead of rebase
[push]
    default = matching
[include]
    path = ~/.gitconfig.private

[core]
    excludesfile = ~/.gitignore
