urxvt*scrollBar:	false
URxvt*termName: rxvt-256color
URxvt*xftAntialias: true
URxvt*font: xft:Inconsolata:size=8,xft:Inconsolata for Powerline:size=8
!URxvt*font:xft:inconsolata:size=8
URxvt*background: #3f3f3f
URxvt*foreground: #dcdccc
URxvt*cursorColor: #aaaaaa
URxvt*colorUL: #366060
URxvt*underlineColor: #dfaf8f
URxvt*color0: #3f3f3f
URxvt*color1: #cc9393
URxvt*color2: #7f9f7f
URxvt*color3: #d0bf8f
URxvt*color4: #6ca0a3
URxvt*color5: #dc8cc3
URxvt*color6: #93e0e3
URxvt*color7: #dcdccc
URxvt*color8: #000000
URxvt*color9: #dca3a3
URxvt*color10: #bfebbf
URxvt*color11: #f0dfaf
URxvt*color12: #8cd0d3
URxvt*color13: #dc8cc3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff
! emacs.font:Ubuntu Mono:pixelsize=16:antialias=true
!emacs.font:Cascadia Code PL:pixelsize=16:antialias=true:style=normal
! emacs.font:JetBrains Mono:pixelsize=16:antialias=true
!emacs.font:-microsoft-Consolas-normal-normal-normal-*-15-*-*-*-m-0-iso10646-1
Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
